html{
    font-family: Helvetica, sans-serif;

}
header{
    height: 150%;
    background-color: rgb(54, 54, 54);
    color: white;
    padding-left : 2%;
    padding-bottom: 2%;
    position : relative;
}

header>h2>span{
    color: orange;
    font-size: 200%;
    position: absolute;
    top: 5%;
    bottom: 100%;
}

header>h2{
    position: relative;
    top:22px;
    width: 100%;
}


nav{

    padding: 15px 1px;
    background-color: rgb(83, 83, 83);
}

nav>a{
    padding: 14px;
    color : white;
    height : 100%;
    width: auto;

}

nav>a:link{
    text-decoration: none;
    background-color:  rgb(54, 54, 54);
}

.main-body{
    outline: 2px solid blue;
    position: relative;
    padding : 1%;
}

.main{
    outline: 2px solid red;
    padding : 1%;
    width:60%;
}


.sidebar{
    outline: 2px solid red;
    width: 30%;
    height: 100%;
    position: absolute;
    right: 1%;
    top : 1%;
    background-color: rgba(48, 48, 48, 0.1)
}

.section1, .section2, .section3{
    outline: 2PX SOLID;
    margin : auto;
    padding: 15px 1px;
    width : 100%;
    height: auto;
    position: relative;
}

.content{
    outline: 2px solid;
    width : 60%;
    height: auto;
    position: absolute;
    top :15%;
    right :5%;
    bottom: 15%;
    overflow: hidden;

}

.sidebarup, .sidebardown{
    outline: 2px solid;
    margin : auto;
    margin-top: 45px;
    padding: 15px 1px;
    width : 75%;
}




.sidebarlinks{
    text-decoration: none;
    color : orange;

}

.sidebarlinks>a{
    text-decoration: none;
    color : orange;
}

footer{
    border : 2px solid;
    padding-left:30px;
    text-align: center;
    background-color: rgb(54, 54, 54);
    color : white;

}

footer>p>span{
    color: orange;
}




img{
    width:  25%;
    height: auto;
    margin: 10px;
}

@media only screen and (max-width: 768px)
{
    .main{
        width: 100%;
        posiiton: relative;
    }
    .sidebar{
        width: 100%;
        position: relative;
    }
}